$primary: #123c82;
$secondary: #e5e7eb;
$success: #28483b;
$info: #0b1e40;
$light: #6b7280;
$body-bg: #f7f9fc;

$font-sizes: (
  4: 1.5rem,
  5: 1rem,
  6: 0.875rem,
);

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

.b-radius {
  border-radius: 15px;
}

.font-primary {
  font-family: var(--font-primary) !important;
}

.font-secondary {
  font-family: var(--font-secondary) !important;
}

@import 'bootstrap/scss/bootstrap';
